<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="macke.css">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js" rel="stylesheet"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="top-bar">
    <span><ion-icon name="call"></ion-icon> 111-222-333 </span>


    <ul>
        <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
    </ul>
</div>


<section class="header">
    <nav>


        <img src="../../../static/images/141-1415512_mfc-cat-logo-contrast-animal-welfare-drawing.png" class="logo">
        <!-- dodali smo ove "/../" -> da bismo mogli da ucitamo sliku u registraciji -->

        <a> UDOMLJAVANJE ZIVOTINJA </a>


        <input type="checkbox" id="menu-bar">
        <label1 for="menu-bar">Menu</label1>

        <div class="nav-links" id="navLinks">

            <ul>
                <li><a href="">Udomi</a>

                    <ul>
                        <li><a href="">Macke</a></li>
                        <li><a href="">Psi</a></li>

                    </ul>

                </li>
                <li><a href="">Udomljene zivotinje</a></li>
                <li><a href="">O nama</a></li>
                <li><a href="">Kontakt</a></li>
                <li><a href="">Prijava</a>

                    <ul>
                        <li><a href="">Prijava korisnika</a></li>
                        <li><a href="">Prijava udruzenja</a></li>
                        <li><a href="">Prijavi se kao gost</a></li>


                    </ul>


                </li>
                <li><a href="">Registracija</a></li>




            </ul>



        </div>
    </nav>

    <div class="title">
        <h1>Macke</h1>
        <div class="line"></div>
    </div>

    <div>
        <div class="container">
        <div class="row">
            <div class="col">
                <img src="../../../static/images/30181102_custom.jpg" alt="">
                <h4>Ime prvo</h4>
                <p>Opis o macki</p>
                <a href="#" class="ctn">Vise o maci</a>
            </div>
            <div class="col">
                <img src="../../../static/images/30181102_custom.jpg" alt="">
                <h4>Ime prvo</h4>
                <p>Opis o macki</p>
                <a href="#" class="ctn">Vise o maci</a>
            </div>
            <div class="col">
                <img src="../../../static/images/evo-dokaza-da-kuce-i-mace-mogu-da-budu-najbolji-prijatelji.jpeg" alt="">
                <h4>Ime prvo</h4>
                <p>Opis o macki</p>
                <a href="#" class="ctn">Vise o maci</a>
            </div>
        </div>
            </div>
        <div class="row">
            <div class="col">
                <img src="../../../static/images/30181102_custom.jpg" alt="">
                <h4>Ime prvo</h4>
                <p>Opis o macki</p>
                <a href="#" class="ctn">Vise o maci</a>
            </div>
            <div class="col">
                <img src="../../../static/images/30181102_custom.jpg" alt="">
                <h4>Ime prvo</h4>
                <p>Opis o macki</p>
                <a href="#" class="ctn">Vise o maci</a>
            </div>
            <div class="col">
                <img src="../../../static/images/evo-dokaza-da-kuce-i-mace-mogu-da-budu-najbolji-prijatelji.jpeg" alt="">
                <h4>Ime prvo</h4>
                <p>Opis o macki</p>
                <a href="#" class="ctn">Vise o maci</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="../../../static/images/30181102_custom.jpg" alt="">
                <h4>Ime prvo</h4>
                <p>Opis o macki</p>
                <a href="#" class="ctn">Vise o maci</a>
            </div>
            <div class="col">
                <img src="../../../static/images/30181102_custom.jpg" alt="">
                <h4>Ime prvo</h4>
                <p>Opis o macki</p>
                <a href="#" class="ctn">Vise o maci</a>
            </div>
            <div class="col">
                <img src="../../../static/images/30181102_custom.jpg" alt="">
                <h4>Ime prvo</h4>
                <p>Opis o macki</p>
                <a href="#" class="ctn">Vise o maci</a>
            </div>
        </div>

    </div>
</section>
</body>
</html>