@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
body{
    font-family: "Poppins", sans-serif;
}



a, a:hover {
    text-decoration: none;
    color: #ffffff;
}


.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    background: #135422;
}

.top-bar span{
    color: #fff;
}

.top-bar ul{
    list-style: none;
    display: flex;
}

.top-bar li{
    margin: 0 5px;
}

.top-bar a{
    color: #ffffff;
}

.top-bar a:hover{
    color: #1c0f0f;
}


.logo{
    width: 50px;
    cursor: pointer;
    margin: 0 3px; /* udaljenost logo-a i nav-links od gornje margine */

}


nav{
    display: flex;
    padding: 0.7px 3%; /* koliko je logo udaljen od margine kao i navbar */
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 200px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 5px 25px;
    position: relative;
}

.nav-links ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}

.nav-links ul li a:hover{
    color: #b35e5e;



}

.nav-links ul li ul{
    position: absolute;
    left: -39px;
    width: 170px;
    background: none;
    text-align: start;
    display: none;

}

.nav-links ul li ul li{
    width: 34%;


}

.nav-links ul li ul li ul{
    left: 200px;
    top:0;
}

.nav-links ul li:hover > ul{
    display: initial;
    margin-top: 25px;
}

#menu-bar{
    display: none;
}

label{
    font-size: 15px;
    color: black;
    cursor: pointer;
    display: none;
}

.header{
    min-height: 89vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgb(28, 15, 15)),url(../images/9584.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 8px;


}

.row{
    margin-top: 5%;
    margin-right: 14%; /* ovo pomera sliku ka levo, posto margina krece od desno */
    display: flex;
    justify-content: space-between;

}

.facilities{
    width: 85%;
    margin: auto;
    text-align: center;
    padding-top: 70px;


}

.facilities-col{
    flex-basis: 36%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;

}

.facilities-col img{
    width: 140%;
    border-radius: 10px;
}

.facilities-col img:hover {
    border: 1px solid #135422;
    background: #135422;
    transition: 1s;


}

.facilities-col p1{
    padding: 0;
}

.facilities p{
    padding-left: 100px;

}

.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 20px; /* razmak izmedju "Macke" i "Nase mcake slatke macke" */
    padding-left: 100px;
    font-size: 30px;
}

.facilities h2{
    font-size: 50px;
}

nav .fa{
    display: none;
}

@media(max-width: 700px) {

    .nav-links ul{
        padding: 20px;
        text-align: center;
    }

    label {
        display: initial;

    }

    .nav-links{
        position: absolute;
        margin-top: 226px;
        background: #1c0f0f;
        border-top: 1px solid rgba(0,0,0,.1);
        display: none;
        margin-right: 20px;
    }
    .nav-links ul li{
        width: 100%;
    }
    .nav-links ul li ul{
        position: relative;
        width: 100%;
    }
    .nav-links ul li ul li{
       background: #1c0f0f;
    }
    .nav-links ul li ul li{
        width: 100%;
        left: 0;
    }
    #menu-bar:checked ~ .nav-links{
        display: initial;
    }
}

@media (max-width: 550px) {
    .row{
        flex-direction: column;
        margin-right: 28%;
    }

    .facilities-col p{
        margin-left: 25%;
    }
    .facilities-col h3{
        margin-left: 25%;
    }
    .facilities-col img{
        width: 145%;
        height: 80%;
        border-radius: 10px;
        margin-right: 10%;
    }

}

/* pokusaj */

.text-box{
    width: 85%;
    color: #fff;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;


}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.text-box h1{
    font-size: 62px;
    margin-top: 100px;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #bd8737;
    background: #c9b048;
    transition: 1s;
}

@media (max-width: 700px) {
    .text-box h1{
        font-size: 20px;
    }



}

.cta{
    margin: 100px auto;
    width: 80%;
    background-color: #1c0f0f;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;

}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media (max-width: 700px) {
    .cta h1{
        font-size: 15px;
    }
    .footer h4{
        font-size: 14px;
    }
    .footer p{
        font-size: 13px;
    }
    
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: #135422;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

















