<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Udomljavajnje Zivotinja
    </title>

    <link rel="stylesheet" th:href="@{/css/style.css}"  />
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js" rel="stylesheet"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

<div class="top-bar">
    <span><ion-icon name="call"></ion-icon> 111-222-333 </span>


    <ul>
        <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
        <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
    </ul>
</div>


<section class="header">
    <nav>


        <img th:src="@{/images/141-1415512_mfc-cat-logo-contrast-animal-welfare-drawing.png}" class="logo" />
         <a> UDOMLJAVANJE ZIVOTINJA </a>


            <input type="checkbox" id="menu-bar">
            <label for="menu-bar">Menu</label>

        <div class="nav-links" id="navLinks">

            <ul>
                <li><a href="">Udomi</a>

                    <ul>
                        <li><a href="macke">Macke</a></li>
                        <li><a href="">Psi</a></li>

                    </ul>

                </li>
                <li><a href="">Udomljene zivotinje</a></li>
                <li><a href="onama">O nama</a></li>
                <li><a href="kontakt">Kontakt</a></li>
                <li><a href="prijava">Prijava</a></li>
                <li><a href="registracija">Registracija</a></li>




            </ul>



        </div>
        </nav>
</section>

 <div class="text-box">


            <h1>UDOMLJAVANJE ZIVOTINJA jeee</h1>
            <p>Neto o nama na ovom <br> ggdafgdgdgadfa</p>
            <a href="" class="hero-btn">Nesto</a>

        </div>

<hr>
        <section class="facilities">


            <h2>Nasa galerija</h2>
            <p1>Slike nasih dragih ljubimaca</p1>

                   <div class="row">
                    <div class="facilities-col">
                        <a href="macke"><img th:src="@{/images/pets-3715734_1280.jpg}"></a>
                           <h3>Macke</h3>
                           <p>Nase macke, slatke macke</p>

                    </div>

                        <div class="facilities-col">
                            <img th:src="@{/images/pets-3715734_1280.jpg}">
                            <h3>Psi</h3>
                            <p>Nase macke, slatke macke</p>

                </div>
                 </div>
            <hr size="2" NOSHADE>

            </div>



</section>
<section class="cta">
    <h1>
        Tako ti je mala moja kad ljubi<br> Bosanac
    </h1>
    <a href="" class="hero-btn">Kontakt</a>
</section>

<hr>
<section class="footer">
    <h4>O nama</h4>
    <p>Nesto o nama, anamamamamamamaamamamamamaa <br>
    aaajajjajajaajajajajajajajajajajajaj</p>
    <p>Made with <ion-icon name="paw"></ion-icon></p>


</section>

     <script>



     </script>


</body>

</html>