<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/onama.css}" />
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js" rel="stylesheet"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="top-bar">
    <span><ion-icon name="call"></ion-icon> 111-222-333 </span>


    <ul>
        <li><a href="#">
            <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
        <li><a href="#">
            <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
        <li><a href="#">
            <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
    </ul>
</div>

<section class="header">
<nav>


    <img th:src="@{/images/141-1415512_mfc-cat-logo-contrast-animal-welfare-drawing.png}" class="logo" />
    <!-- dodali smo ove "/../" -> da bismo mogli da ucitamo sliku u registraciji -->

    <a> UDOMLJAVANJE ZIVOTINJA </a>

    <div class="nav-links" id="navLinks">

        <ul>
            <li><a href="index"><ion-icon name="home"></ion-icon></a></li>
            <li><a href="">Udomi</a>

                <ul>
                    <li><a href="macke">Macke</a></li>
                    <li><a href="">Psi</a></li>

                </ul>

            </li>
            <li><a href="">Udomljene zivotinje</a></li>
            <li><a href="">O nama</a></li>
            <li><a href="kontakt">Kontakt</a></li>
            <li><a href="prijava">Prijava</a></li>
            <li><a href="registracija">Registracija</a></li>


        </ul>


    </div>
</nav>


    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>O nama</h1>
            </div>
            <div class="content">
                <h3>vvjtjvtjtvjjvjvjvjvjvjvttvjvjjjvjvjvjvjjvvj</h3>
                <p>Popunite ovaj obrazac kako biste napravili naloghbhjbkjbvkvkjvkjvkvv
                    bjkvjkvjvkjvkjvjvjhvjkvvjk
                    vgvgkvvkvvggvgvjkczcdzczcjkncnslcasclsacnaslcansclascnaslcasncisanasc
                as
                cjcailcasjccsailsajlcsiacjasilcjlasjcascjiasljcasscajali</p>
                <hr>

            </div>
        </div>
    </div>
        </div>
        <div class="image-section">
            <img th:src="@{/images/pets-3715734_1280.jpg}">
        </div>

</section>

</body>
</html>