<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/about_us.css}" />
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js" rel="stylesheet"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="top-bar">
    <span><ion-icon name="call"></ion-icon> 111-222-333 </span>


    <ul>
        <li><a sec:authorize="isAuthenticated()"> <span sec:authentication="authorities"></span></a></li>
        <li><a sec:authorize="isAuthenticated()"> <span sec:authentication="name"></span></a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Log Out</a></li>
        <li><a href="#">
            <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
        <li><a href="#">
            <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
        <li><a href="#">
            <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
    </ul>
</div>

<section class="header">
<nav>


    <img th:src="@{/images/141-1415512_mfc-cat-logo-contrast-animal-welfare-drawing.png}" class="logo" />
    <!-- dodali smo ove "/../" -> da bismo mogli da ucitamo sliku u registraciji -->

    <a> ADOPTING PETS </a>

    <div class="nav-links" id="navLinks">

        <ul>
            <li><a href="/"><ion-icon name="home"></ion-icon></a></li>
            <li><a href="">Adopt</a>

                <ul>
                    <li><a href="cats">Cats</a></li>
                    <li><a href="dogs">Dogs</a></li>

                </ul>

            </li>
            <li><a href="">About Us</a></li>
            <li><a href="contact">Contact</a></li>
            <div sec:authorize="hasRole('ROLE_ANONYMOUS')">
            <li><a href="login">Login</a></li>
            <li><a href="registration">Registration</a></li>
            </div>

        </ul>


    </div>
</nav>


    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="content">
                <h3>ADOPT ME-DO NOT BUY</h3>
                <p>a site intended for all lovers of animals, primarily abandoned ones.

                    So many cute, charming puppies and adult cats and kittens are waiting for their new owners.<br>
                    Small, big, black, white, whatever you want,
                    cats and dogs from the streets of Belgrade and from
                    city shelters will
                    become your best friends if you give them a warm home.</p>
                <hr>


            </div>
        </div>
    </div>
        </div>
        <div class="image-section">
            <img th:src="@{/images/82e6b420910399.562f395d83c64.jpg}">
        </div>

</section>

</body>
</html>