<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/add_cat.css}" />
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js" rel="stylesheet"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="top-bar">
    <span><ion-icon name="call"></ion-icon> 111-222-333 </span>


    <ul>
        <li><a sec:authorize="isAuthenticated()"> <span sec:authentication="authorities"></span></a></li>
        <li><a sec:authorize="isAuthenticated()"> <span sec:authentication="name"></span></a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Log Out</a></li>

        <li><a href="https://www.facebook.com">
            <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
        <li><a href="https://www.instagram.com">
            <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
        <li><a href="https://www.twitter.com">
            <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
    </ul>
</div>


<section class="header">
    <nav>


        <img th:src="@{/images/141-1415512_mfc-cat-logo-contrast-animal-welfare-drawing.png}" class="logo" />
        <!-- dodali smo ove "/../" -> da bismo mogli da ucitamo sliku u registraciji -->

        <a> ADOPTING PETS </a>

        <input type="checkbox" id="menu-bar">
        <label1 for="menu-bar">Menu</label1>

        <div class="nav-links" id="navLinks">

            <ul>
                <li><a href="/"><ion-icon name="home"></ion-icon></a></li>
                <li><a href="">Adopt</a>

                    <ul>
                        <li><a href="cats">Cats</a></li>
                        <li><a href="dogs">Dogs</a></li>

                    </ul>

                </li>
                <li><a href="about_us">About Us</a></li>
                <li><a href="contact">Contact</a></li>
                <div sec:authorize="hasRole('ROLE_ANONYMOUS')">
                <li><a href="login">Login</a></li>
                <li><a href="registration">Registration</a></li>
                </div>

            </ul>


        </div>
    </nav>


    <div class="container">
        <h1>Add New Cat</h1>

        <hr>

        <form th:action="@{/add_cat}" method="post" th:object="${cats}" enctype="multipart/form-data" >

            <div class="form-group">
                <label class="control-label" for="petName">
                     Cat Name
                </label>
                <input id="petName" class="form-control" type="text" th:field="*{petName}"
                       required autofocus="autofocus"/>
            </div>

            <div class="form-group">
                <label class="control-label" for="description">
                    Description
                </label>
                <input id="description" class="form-control" type="text" th:field="*{description}"
                       required autofocus="autofocus"/>

            </div>
            <div class="form-group">
                <label class="control-label" for="dateOfBirth">
                    Date of Birth
                </label>
                <input id="dateOfBirth" class="form-control" type="date" th:field="*{dateOfBirth}"
                       required autofocus="autofocus"/>
            </div>
            <div class="form-group">
                <label class="control-label" for="customFile">
                    Image
                </label>
                <input type="file" name="file" class="custom-file-input"
                       id="customFile"> <label class="custom-file-label"
                                               for="customFile"></label>
            </div>


        <button type="submit" class="registerbtn">Add New Cat</button>
        </form>
    </div>
</section>
</body>
</html>