<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/contact.css}" />
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js" rel="stylesheet"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="top-bar">
    <span><ion-icon name="call"></ion-icon> 111-222-333 </span>


    <ul>
        <li><a href="#">
            <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
        <li><a href="#">
            <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
        <li><a href="#">
            <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
    </ul>
</div>

<section class="header">
    <nav>


        <img th:src="@{/images/141-1415512_mfc-cat-logo-contrast-animal-welfare-drawing.png}" class="logo" />
        <!-- dodali smo ove "/../" -> da bismo mogli da ucitamo sliku u registraciji -->

        <a> ADOPTING PETS </a>

        <div class="nav-links" id="navLinks">

            <ul>
                <li><a href="/"><ion-icon name="home"></ion-icon></a></li>
                <li><a href="">Adopt</a>

                    <ul>
                        <li><a href="cats">Cats</a></li>
                        <li><a href="dogs">Dogs</a></li>

                    </ul>

                </li>
                <li><a href="about_us">About Us</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="registration">Registration</a></li>



            </ul>


        </div>
    </nav>
<div class="container">
    <h1>Contact</h1>
    <p>Please fill this form to send us a message</p>
    <hr>

    <div class="content">
        <div class="left-side">
            <div class="address details">
                <ion-icon name="pin"></ion-icon>
                <div class="topic">Address</div>
                <div class="text-one">Beograd</div>
                <div class="text-two">Njegoseva 1</div>
            </div>
            <div class="phone details">
                <ion-icon name="call"></ion-icon>
                <div class="topic">Phone Number</div>
                <div class="text-one">+381 60 111 111</div>
                <div class="text-two">+381 61 222 222</div>
            </div>
            <div class="email details">
                <ion-icon name="mail"></ion-icon>
                <div class="topic">Email</div>
                <div class="text-one">udomljavanjezivotinja1@gmail.com</div>
                <div class="text-two">informacijeudruzenja@gmail.com</div>
            </div>
        </div>


        <div class="right-side">
            <div class="topic-text">CONTACT US</div>

            <div class="form">
                <form method="post">
                <div class="input-box">
                    <input type="text" placeholder="First Name" id="ime" autocomplete="off">
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Email" id="email" autocomplete="off">
                </div>
                    <div class="input-box">
                        <input type="text" placeholder="Subject" id="subject" autocomplete="off">
                    </div>
                <div class="input-box message-box">
                    <textarea id="poruka" placeholder="Message"></textarea>
                </div>
                <button id ="btn">SEND</button>
            </form>
            </div>
        </div>
    </div>
</div>
    </section>
</body>
<script src="https://smtpjs.com/v3/smtp.js">
</script>
<script>
    var btn = document.getElementById('btn');
    btn.addEventListener('click', function (e) {
        e.preventDefault()
        var ime = document.getElementById('ime').value;
        var email = document.getElementById('email').value;
        var subject = document.getElementById('subject').value;
        var poruka = document.getElementById('poruka').value;
        var body = 'ime:  ' +ime + '<br/> email:  ' + email +
            '<br/> subject: ' + subject + '<br/> poruka' + poruka;

        Email.send({
            SecureToken: "7444db5c-d7d7-45bb-a3ff-9477a013ab51",
            To: 'udomljavanjezivotinja1@gmail.com',
            From: "cvetkovskiviktorija@gmail.com" ,
            Subject: "kontakt poruka",
            Body: body
        }).then(
            message => alert(message)
        );
    })
</script>
</html>
