<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:as="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
       Adopting Pets
    </title>

    <link rel="stylesheet" th:href="@{/css/style.css}"  />
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js" rel="stylesheet"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

<div class="top-bar">
    <span><ion-icon name="call"></ion-icon> 111-222-333 </span>


    <ul>

        <li><a sec:authorize="isAuthenticated()"> <span sec:authentication="authorities"></span></a></li>
        <li><a sec:authorize="isAuthenticated()"> <span sec:authentication="name"></span></a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Log Out</a></li>
        <li><a href="https://www.facebook.com/"><ion-icon name="logo-facebook"></ion-icon></a></li>
        <li><a href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></a></li>
        <li><a href="https://www.twitter.com/"><ion-icon name="logo-twitter"></ion-icon></a></li>
    </ul>
</div>


<section class="header">
    <nav>


        <img th:src="@{/images/141-1415512_mfc-cat-logo-contrast-animal-welfare-drawing.png}" class="logo" />
         <a> ADOPTING PETS </a>


            <input type="checkbox" id="menu-bar">
            <label for="menu-bar">Menu</label>

        <div class="nav-links" id="navLinks">

            <ul>
                <li><a href="">Adopt</a>

                    <ul>
                        <li><a href="cats">Cats</a></li>
                        <li><a href="dogs">Dogs</a></li>

                    </ul>

                </li>
                <li><a href="about_us">About Us</a></li>
                <li><a href="contact">Contact</a></li>
                <div sec:authorize="hasRole('ROLE_ANONYMOUS')">
                    <li><a href="login">Login</a></li>
                <li><a href="registration">Registration</a></li>
                </div>



            </ul>



        </div>
        </nav>
</section>

 <div class="text-box">


            <h1>WELCOME TO SITE FOR ADOPTING PETS!</h1>
            <p> <br> </p>


        </div>

<hr>
        <section class="facilities">


            <h2>GALLERY</h2>
            <p1>PICTURES OF PETS</p1>

                   <div class="row">
                    <div class="facilities-col">
                        <a href="cats"><img th:src="@{/images/30181102_custom.jpg}" height="400" width="200"></a>
                           <h3>Cats</h3>
                           <p>Click on the picture above, you are entering to gallery for Cats!</p>

                    </div>

                        <div class="facilities-col">
                            <a href="dogs"><img th:src="@{/images/v-748.jpg}" height="400" width="200"></a>
                            <h3>Dogs</h3>
                            <p>Click on the picture above, you are entering to gallery for Dogs!</p>

                </div>
                 </div>
            <hr size="2" NOSHADE>

            </div>



</section>
<section class="cta">
    <h1>
        If you wish to adopt a pet or if you have any questions,<br> please send an email by clicking the button <br>
        below, or by calling the number in the "Contact" section.

    </h1>
    <a href="/contact" class="hero-btn">Contact</a>
</section>

<hr>
<section class="footer">
    <h4>About Us</h4>
    <p>The mission of this website is to make adopting pets easier then before <br>
        We are here to help you find a lovely furry friend!</p>

    <p>Bank account: 170-11111111111111-11  <ion-icon name="paw"></ion-icon></p>


</section>




</body>

</html>