<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/registration.css}" />
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js" rel="stylesheet"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="top-bar">
    <span><ion-icon name="call"></ion-icon> 111-222-333 </span>


    <ul>
        <li><a href="https://www.facebook.com">
            <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
        <li><a href="https://www.instagram.com">
            <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
        <li><a href="https://www.twitter.com">
            <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
    </ul>
</div>


<section class="header">
    <nav>


        <img th:src="@{/images/141-1415512_mfc-cat-logo-contrast-animal-welfare-drawing.png}" class="logo" />
        <!-- dodali smo ove "/../" -> da bismo mogli da ucitamo sliku u registraciji -->

        <a> ADOPTING PETS </a>

        <input type="checkbox" id="menu-bar">
        <label1 for="menu-bar">Menu</label1>

        <div class="nav-links" id="navLinks">

            <ul>
                <li><a href="/"><ion-icon name="home"></ion-icon></a></li>
                <li><a href="">Adopt</a>

                    <ul>
                        <li><a href="cats">Cats</a></li>
                        <li><a href="dogs">Dogs</a></li>

                    </ul>

                </li>
                <li><a href="about_us">About Us</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="">Registration</a></li>


            </ul>


        </div>
    </nav>


    <div class="container">

        <!-- success message -->
        <div th:if="${param.success}">
            <div class="alert alert-info">Registration successful!
                </div>
        </div>

        <h1>Registration</h1>
        <p>Please fill this form to create an account</p>
        <hr>

        <form th:action="@{/registration}" method="post" th:object="${user}">
            <div class="form-group">
                <label class="control-label" for="first_name">
                    First Name
                </label>
                <input id="first_name" class="form-control" type="text" th:field="*{firstName}"
                       required autofocus="autofocus"/>
            </div>

            <div class="form-group">
                <label class="control-label" for="last_name">
                    Last Name
                </label>
                <input id="last_name" class="form-control" type="text" th:field="*{lastName}"
                       required autofocus="autofocus"/>
            </div>

            <div class="form-group">
                <label class="control-label" for="email">
                    Email
                </label>
                <input id="email" class="form-control" type="text" th:field="*{email}"
                       required autofocus="autofocus"/>
            </div>

            <div class="form-group">
                <label class="control-label" for="phoneNumber">
                    Phone Number
                </label>
                <input id="phoneNumber" class="form-control" type="text" th:field="*{phoneNumber}"
                       required autofocus="autofocus"/>
            </div>

            <div class="form-group">
                <label class="control-label" for="password">
                    Password
                </label>
                <input id="password" class="form-control" type="password" th:field="*{password}"
                       required autofocus="autofocus"/>
            </div>


            <div sec:authorize="hasAuthority('ADMIN')">

            <select th:field="*{role}" required>

                <option value="">Select</option>
                <option value="ADMIN">ADMIN</option>
                <option value="USER">USER</option>

            </select><br/><br/>
    </div>
            <div class="form-group">
                <button type="submit" class="registerbtn">Registration</button>
                <span>Already registered? <a href="/" th:href="@{/login}">Login</a></span>
            </div>
            <span th:utext="${successMessage}"></span>
            <div th:if="${bindingResult!=null && bindingResult.getAllErrors()!=null}">
                <ul th:each="data : ${bindingResult.getAllErrors()}">
                    <li th:text="${data.getObjectName() + ' :: ' + data.getDefaultMessage()}"></li>
                </ul>
            </div>
        </form>
    </div>
</section>

<div class="container signin">
    <p1>Vec postoji tvoj nalog?
       <span> <a1 href="/" th:href="@{/login}">Sing In</a1></span>
    </p1>
</div>
</body>
</html>